.DS_Store
.ipynb_checkpoints/
"Icon\r"
__pycache__/
quant_net_exploratory.py
imgs/first_layer_analysis/
imgs/hidden_layer_analysis/
scripts/exploratory_analysis.nb
scripts/custom_perceptron.py
scripts/experiments.py
scripts/mnist_perceptron.py
scripts/test_quantized_neural_network.py
train_logs/*
serialized_models/
quantized_models/
model_metrics/
data/val
data/*.npy
train_data/
test_data/
